*{
box-sizzing:border-box;
}
.container {
    display: grid;
    width: 80%;
    grid-template-columns: repeat(5, 20);
    grid-template-rows: repeat(3, 100px);
    grid-template-areas:
        "cab cab cab cab cab"
        "menu . main main main"
        "menu pie pie pie pie"
    ;
    margin: 20px auto;
}

#cab {
    background-color: blue;
    grid-area: cab;

}

#menu {
    background-color: red;
    grid-area: menu;

}

#main {
    background-color: yellow;
    grid-area: main;
}

#pie{
    background-color: green;
    grid-area: pie;
}