* {
    box-sizing: border-box;
}

header {
    border-bottom: 1px solid gray;
    margin-bottom: 1em;
    text-align: center;

}

.container {
    width: 90%;
    margin: 20px auto;
    font-family: "lobster", cursive;
    color: gray;
}

.container1 {
    display: flex;
    justify-content: space-between;

}

nav {
    padding: 1em;
    width: 10%;
}

nav div {
    margin-top: 20px;
}

main {
    border-radius: 1em;
    border: 1px solid gray;
    height: 400px;
    width: 55%;
    text-align: center;
    padding: 1em;
}

main img {
    width: 80%;
    height: 70%;
    border-radius: 1em;
}

.articulo1 {
    width: 25%;
    border: 1px solid gray;
    border-radius: 1em;
    text-align: center;
    padding: 1em;
}

.articulo1 img {
    width: 90%;
    height: 70%;
    border-radius: 1em;

}

.container2 {
    display: flex;
    justify-content: space-between;
    margin-left: 10%;
    text-align: center;

}

.container2 article {
    text-align: center;
    border: 1px solid gray;
    border-radius: 1em;
    margin: 1em;
    width: 30%;

}

.container2 img {
    width: 90%;
    height: 60%;
    border-radius: 1em;
    margin: 1em;
}

footer {
    border-top: 2px solid grey;
    display: flex;
    grid-column: 1/5;
    grid-row: 4/5;
    justify-content: space-around;
    align-items: center;
}